<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="changeHome()">Volver al Home</button>
    <button onclick="AddList()">Añadir Lista</button>
    <h1>Añadir una lista al proyecto: {{.ProyectName}}</h1>
    <h1 hidden id="proyectID">{{.ProyectID}}</h1>
    <label for="name">Nombre de la lista</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="description">Descripción de la lista</label>
    <textarea name="" id="description" cols="30" rows="10"></textarea>
    <!-- <input type="text" id="description" name="description"><br><br> -->


    {{$userActual:=.User.Email}}
    {{if eq (len .UsersProyect) 1}}
        <h2>Solo estas tu en el proyecto</h2>
    {{else}}
        <h2>Selecciona los usuarios para añadir a la lista </h2>
        <select name="usuarios" id="usuarios" multiple>
            {{range .UsersProyect}}
                    {{if ne $userActual .}}
                        <option value={{.}}>{{.}}</option>
                    {{end}}
            {{end}}
        </select>
    {{end}}

</body>
</html>

<script>

    function AddList(){
        let listName = document.querySelector('#name').value
        let description = document.querySelector('#description').value
        let usersList = []
        let usuarios = document.querySelector('select')
        if(usuarios != null){
            let usuariosSeleccionados = usuarios.selectedOptions;
            for (let index = 0; index < usuariosSeleccionados.length; index++) {
                usersList.push(usuariosSeleccionados[index].value);
            }
        }
        let lista = {
            Users : usersList,
            Name : listName,
            Description : description,
        }
        let proyectID = document.querySelector('#proyectID').textContent;
        addListGO(lista, proyectID).then(
            function(response){
                if (response == false){
                    alert('La lista no se a creado')
                }else{
                    changeHome()
                }
            }
        )
    }
</script>





