<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración de la Lista</title>
</head>
<body>
    <button onclick="changeHome()">Volver al Home</button>
    <button onclick="updateList()">Actualizar Lista</button>
    <h1>Configuración de la Lista</h1>
    <h2>Nombre: </h2>
    <h3 contenteditable id="listName">{{.List.Name}}</h3>
    <h2>Descripcion: </h2>
    <p contenteditable id="listDescription">{{.List.Description}}</p>
    <h2>Usuarios del proyecto al que pertenece la lista: {{len .Proyect.Users}}</h2>
    <ul class="users_list">
        {{range .List.Users}}
            <li id={{.}}>{{.}}</li>
            <button onclick="deleteUser({{.}})">Eliminar usuario</button>
        {{end}}
    </ul>

    {{if not .Emails}}
        <h2>Ningun usuario mas en el proyecto por añadir a la lista</h2>
    {{else}}
        <label for="users">Usuarios del proyecto:</label>
        <select name="users" id="users">
        {{range .Emails}}
            <option value="{{.}}">{{.}}</option>
        {{end}}
        </select>
        <button onclick="addUserList()">Añadir usuario</button>
    {{end}}
    
    <h2 id="proyectID">{{.Proyect.ID}}</h2>
    <h2 id="listID">{{.List.ID}}</h2>
</body>
</html>

<script>
    function deleteUser(userEmail){
        let proyectID = document.querySelector('#proyectID').textContent;
        let listID = document.querySelector('#listID').textContent;
        deleteUserListGO(userEmail, listID, proyectID).then(
            function(){

            }
        )
    }


    function addUserList(){
        let listID = document.querySelector('#listID').textContent;
        let proyectID = document.querySelector('#proyectID').textContent;
        let userEmail = document.querySelector('#users').value
        addUserListGO(userEmail, proyectID, listID).then(
            function(response){
                if (response){
                    alert('Usuario añadido')
                }else{
                    alert('No se añadio el usuario')
                }
            }
        )
    }


    function updateList(){
        let proyectID = document.querySelector('#proyectID').textContent;
        let listID = document.querySelector('#listID').textContent;
        let listName = document.querySelector('#listName').textContent;
        let listDescription = document.querySelector('#listDescription').textContent;
        let usersHTML = document.querySelectorAll('li')
        let users = []
        for (let index = 0; index < usersHTML.length; index++) {
            users.push(usersHTML[index].textContent)
        }
        let list = {
            "ID" : listID,
            "Name" : listName,
            "Description" : listDescription,
            "Users" : users,
            "ProyectID" : proyectID,
        }
        updateListGO(list).then(
            function(response){
                if (response){
                    alert('Se actualizo la lista')
                }
            }
        )
    }


</script>