<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración del Proyecto</title>
</head>
<body>
    <button onclick="changeHome()">Volver al Home</button>
  
    <button onclick="updateProyect()">Actualizar Proyecto</button>
    <h1>Configuracion del proyecto</h1>
    <h2 id="proyectID">{{.Proyect.ID}}</h2>
    <h2>Nombre: </h2>
    <h3 contenteditable id="proyectName"> {{.Proyect.Name}}</h3>
    <h2>Descripcion: </h2>
    <p contenteditable id="proyectDescription">  {{.Proyect.Name}}</p>
    <ul class="users_proyect">

        {{$email:=.User}}
        {{range .Proyect.Users}}
            {{if ne $email .}}
                <li id={{.}}>{{.}}</li>
                <button onclick="deleteUser({{.}})">Eliminar usuario</button>
            {{end}}
        {{end}}
    </ul>

    {{if not .Emails}}
        <h2>Ningun usuario mas en el sistema por añadir al proyecto</h2>
    {{else}}
        <label for="users">Usuarios del sistema:</label>
        <select name="users" id="users">
        {{range .Emails}}
            <option value="{{.}}">{{.}}</option>
        {{end}}
        </select>
        <button onclick="addUserProyect()">Añadir usuario</button>
    {{end}}

</body>
</html>

<script>
    function deleteUser(userEmail){
        let proyectID = document.querySelector('#proyectID').textContent;
        deleteUserProyectGO(userEmail, proyectID).then(
            function(){

            }
        )
    }

    function addUserProyect(){
        let proyectID = document.querySelector('#proyectID').textContent;
        let userEmail = document.querySelector('#users').value
        addUserProyectGO(userEmail, proyectID).then(
            function(response){
                if (response){
                    alert('Usuario añadido')
                }else{
                    alert('No se añadio el usuario')
                }
            }
        )
    }


    function updateProyect(){
        let proyectID = document.querySelector('#proyectID').textContent;
        let proyectName = document.querySelector('#proyectName').textContent;
        let proyectDescription = document.querySelector('#proyectDescription').textContent;
        
        let usersHTML = document.querySelectorAll('li')
        let users = []
        for (let index = 0; index < usersHTML.length; index++) {
            users.push(usersHTML[index].textContent)
        }

        let proyect = {
            "ID" : proyectID,
            "Name" : proyectName,
            "Description" : proyectDescription,
            "Users" : users,
        }

        updateProyectGO(proyect).then(
            function(response){
                if (response){
                    alert('Se actualizo el proyecto')
                }
            }
        )
    }

</script>