<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea</title>
</head>
<body>
    <button onclick="changeHome()">Volver al Home</button>
    <button onclick="changeToTasks()">Ver Tareas de la lista</button>
    <button onclick="UpdateTask()">Actualizar Tarea</button>
    <button onclick="DeleteTask()">Borrar Tarea</button>

    
    <h1 hidden id="listName">{{.List.Name}}</h1>
    <h1 id="listID" hidden>{{.List.ID}}</h1>
    <h1 id="taskID" hidden>{{.Task.ID}}</h1>
    <h1 hidden id="taskCheck">{{.Task.Check}}</h1>
    <h1 contenteditable  id="name">{{.Task.Name}}</h1>
    <h2 contenteditable id="state">{{.Task.State}}</h2>
    <p contenteditable id="description">{{.Task.Description}}</p>
    <input type="date" id="date" name="date" value="{{.Task.Date}}" contenteditable>
    
    <h2>Usuarios asignados a la tarea:</h2>
    <div id="usersTask">    
        {{range .Task.Users}}
            <div id="{{.}}">
                <span>{{.}}</span>
                <button onclick="deleteUserTask(event)">Eliminar usuario</button>
            </div>
        {{end}}
    </div>


    <h2>Usuarios de la lista por añadir a la tarea:</h2>
    <div id="usersListDiv">
        <select name="usersList" id="usersList" multiple>
            {{range .List.Users}}
                <option value={{.}}>{{.}}</option>
            {{end}}
        </select>
        <button onclick="addUserTask()">Asignar usuarios a la tarea</button>
    </div>


    <div id="archivosAdjuntos">
        <h3>Archivos adjuntos:</h3>
        {{range .Task.Files}}
            <div>
                <a href="{{.FileData}}" download="{{.FileName}}">{{.FileName}}</a>
                <button onclick="deleteFileTask(event)">Eliminar archivo</button>
            </div>
        {{end}}
    </div>

    <div id="links">
        <h3>Enlaces adjuntos:</h3>
        <ul>
            {{range .Task.Links}}
            <li>
                <a target="_blank" href="{{.LinkUrl}}">{{.LinkName}}</a>
                <button onclick="deleteLinkTask(event)">Eliminar enlace</button>
            </li>
        {{end}}
        </ul>
        </div>

    <input type="file" id="subir_archivo"/>
    <button onclick="leerArchivo()">Adjuntar archivo</button>


</body>
</html>
<script>


    let extensionAllow = ['jpg', 'jpeg', 'png', 'pdf', 'txt'];
    function leerArchivo(){
        let elemento = document.querySelector('#subir_archivo');
        if (elemento.files.length > 0){
            let nombreArchivo = elemento.files[0].name
            let extension = elemento.files[0].name.split('.').pop().toLowerCase()
            if (extensionAllow.indexOf(extension) > -1){
                if(elemento.files.length != 0){
                    var file = elemento.files[0];
                    var reader = new FileReader();
                    reader.onloadend = function() {
                        let divPadre = document.querySelector('#archivosAdjuntos');
                        datosArchivo = reader.result
                        let a = document.createElement('a')
                        a.textContent = nombreArchivo
                        a.href = datosArchivo
                        a.download = nombreArchivo
                        let button = document.createElement('button');
                        button.innerHTML = "Eliminar archivo";
                        button.onclick = function () {deleteFileTask(event)};
                        let div = document.createElement('div');
                        div.appendChild(a)
                        div.appendChild(button)
                        divPadre.appendChild(div)

                        elemento.value = ""
                    }
                reader.readAsDataURL(file);
                }
            }else{
                alert('Extension no permitida')
                elemento.value = ""
            }
        }else{
            alert('Añade un archivo para adjuntarlo')
        }
    }

    function deleteFileTask(){
        var div = event.target.closest('div');
        div.remove()
    }

    function deleteLinkTask(){
        var li = event.target.closest('li');
        li.remove()
    }

    function changeToTasks(){
        let listID = document.querySelector('#listID').textContent
        let listName = document.querySelector('#listName').textContent
        changeToTasksGO(listID , listName).then(
            function(resultados){
                let tokenExpire = resultados[1];
                let changeOK = resultados[0];
                if (tokenExpire){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (changeOK == false){
                        alert('La lista ya no existe')
                        changeHome()
                    }
                }
            }
        )
    }

    function deleteUserTask(){
        var div = event.target.closest('div');
        let option = document.createElement('option');
        option.value = div.id;
        option.textContent= div.id;
        document.querySelector('select').appendChild(option);
        div.remove();
    }


    function addUserTask(){
       let selectedUsers = document.querySelector('select').selectedOptions;
       if (selectedUsers.length > 0){
            let usersNames = []
            for (let index = selectedUsers.length; index > 0; index--) {
                    usersNames.push(selectedUsers[index - 1].value)
                    selectedUsers[index - 1].remove();
            }
            //Ahora los meto en la lista de usuarios de la tarea
            let usersTask = document.querySelector('#usersTask');
            for (let i = 0; i < usersNames.length; i++) {
                let newDiv = document.createElement('div');
                newDiv.id = usersNames[i];
                span = document.createElement('span');
                span.textContent = usersNames[i];
                let button = document.createElement('button');
                button.innerHTML = "Eliminar usuario";
                button.onclick = function () {deleteUserTask(event)};
                newDiv.appendChild(span)
                newDiv.innerHTML += " "
                newDiv.appendChild(button)
                usersTask.appendChild(newDiv)
            }
       }else{
           alert('Marca algun usuario para añadirlo asignarlo a la tarea')
       }
    }


    //Sin usar actualmente
    function ComprobarUsersList(){
        let numUsersList = document.querySelector('#usersList').querySelectorAll('option').length
        if (numUsersList == 0){
            let h2 = document.createElement('h2');
            h2.textContent = "No hay ningun usuario mas por añadir"
            document.querySelector('#usersListDiv').innerHTML = "";
            document.querySelector('#usersListDiv').append(h2);
        }
    }

    function UpdateTask(){
        //Recupero los campos de la tarea
        let taskID = document.querySelector('#taskID').textContent;
        let listID = document.querySelector('#listID').textContent;
        let name = document.querySelector('#name').textContent;
        let date = document.querySelector('#date').value;
        let state = document.querySelector('#state').textContent;
        let description = document.querySelector('#description').textContent;
        let check = document.querySelector('#taskCheck').textContent;
        let usersTaskDivs = document.querySelector('#usersTask').querySelectorAll('div');
        let usersTask = [];
        for (let index = 0; index < usersTaskDivs.length; index++) {
            usersTask.push(usersTaskDivs[index].id)
        }
        let archivosDiv = document.querySelector('#archivosAdjuntos').querySelectorAll('a');
        let archivos = []
        if (archivosDiv.length > 0) {
            for (let index = 0; index < archivosDiv.length; index++) {
                nombre = archivosDiv[index].textContent;
                datos = archivosDiv[index].href;
                let archivo = {
                    "FileName" : nombre,
                    "FileData" : datos,
                }
                archivos.push(archivo)
            } 
        }
        let newTask = {
            "ID" : taskID,
            "Name" : name,
            "Description" : description,
            "Date" : date,
            "State" : state,
            "Users" : usersTask,
            "Files" : archivos,
            "Check" : check
        }
        updateTaskGO(newTask, listID).then(

            function(resultados){
                let tokenExpire = resultados[2];
                let updateStatus = resultados[1];
                let listOK = resultados[0];
                if (tokenExpire == "true"){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (listOK == "true"){
                        if (updateStatus == "Error"){
                            alert('La tarea no pudo ser actualizada')
                        }else if (updateStatus == "OK"){
                            alert('La tarea fue actualizada')
                            changeToTaskConfigGO(taskID, listID)
                        } else{
                            alert('La tarea ya fue actualizada previamente por otro usuario')
                            changeToTasks()
                        }
                    }else{
                        alert('La lista fue borrada')
                        changeHome()
                    }
                }
            }
        )
    }


    function DeleteTask(){
        let taskID = document.querySelector('#taskID').textContent;
        let listID = document.querySelector('#listID').textContent
        let listName = document.querySelector('#listName').textContent
        deleteTaskGO(taskID, listID).then(

            function(resultados){
                let tokenExpire = resultados[2];
                let deleteOK = resultados[1];
                let listOK = resultados[0];
                if (tokenExpire){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (listOK){
                        if (deleteOK == false){
                            alert('No pudo ser borrada la tarea')
                            changeToTasks(listID, listName)
                        }else{
                            alert('La tarea se borro')
                            changeToTasks(listID, listName)
                        }
                    }else{
                        alert('La lista fue borrada')
                        changeHome()
                    }
                }
            }
        )
    }


    function changeToTaskConfig(taskID, listID){
        changeToTaskConfigGO(taskID, listID).then(
            function(tokenExpire){
                if (tokenExpire){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }
            }
        )
    }


    function changeHome(){
        changeHomeGO().then(
            function(tokenExpire){
                if (tokenExpire){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }
            }
        )
    }

    function init () {
        let forms = document.querySelectorAll('form');
        for (let i = 0; i < forms.length; i++) {
            forms[i].addEventListener('submit',(event) => {event.preventDefault();}, false)
        }
    }

    document.addEventListener('DOMContentLoaded',init,false);

</script>