<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración de la Lista</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <a class="nav-link btn-outline-secondary" type="button" role="button" onclick="changeHome()">Volver al Home</a>
            <a class="nav-link btn-outline-info" type="button" role="button" onclick="updateList()">Actualizar Lista</a>
            <a class="nav-link btn-outline-info" type="button" role="button" onclick="deleteList()">Borrar Lista</a>
            
        </form>
    </nav>

    <h2 hidden id="proyectID">{{.List.ProyectID}}</h2>
    <h2 hidden id="listID">{{.List.ID}}</h2>
    <h1 hidden id="listCheck">{{.List.Check}}</h1>
    <span hidden id="usuarioActual">{{.User}}</span>


    <form>
        <div class="form-group container">
            <h2 class="display-4 text-center">Datos</h2>
            <label for="listName">Nombre del proyecto:</label>
            <input contenteditable class="form-control" type="text" id="listName" name="listName" value="{{.List.Name}}">
            <label for="listDescription">Descripción del proyecto:</label>
            <textarea class="form-control" name="listDescription" id="listDescription" cols="30" rows="10">{{.List.Description}}</textarea>
            <h2 class="display-4 text-center">Gestión Usuarios</h2>
            <ul class="users_list">
                {{range .List.Users}}
                    <li id={{.}}>{{.}}</li>
                    <button onclick="deleteUser('{{.}}')">Eliminar usuario</button>
                {{end}}
            </ul>
            {{if not .Emails}}
                <h2>Ningun usuario mas en el proyecto por añadir a la lista</h2>
            {{else}}
                <label for="users">Usuarios del proyecto:</label>
                <select name="users" id="users">
                {{range .Emails}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
                </select>
                <button onclick="addUserList()">Añadir usuario</button>
            {{end}}
        </div>
    </form>
    
    <!-- <h1>Configuración de la Lista</h1>
    <h2>Nombre: </h2>
    <h3 contenteditable id="listName">{{.List.Name}}</h3>
    <h2>Descripcion: </h2>
    <p contenteditable id="listDescription">{{.List.Description}}</p> -->

</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    function deleteUser(userEmail){
        let proyectID = document.querySelector('#proyectID').textContent;
        let listID = document.querySelector('#listID').textContent;
        let usuarioActual = document.querySelector('#usuarioActual').textContent;
        deleteUserListGO(userEmail, listID, proyectID).then(

            function(resultados){
                let tokenExpire = resultados[2];
                let deleteOk = resultados[1];
                let listOK = resultados[0];
                if (tokenExpire == "true"){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (listOK){
                        if (deleteOk){
                            alert('Usuario borrado')
                            changeToListConfig(listID, proyectID)
                        }else{
                            alert('No se pudo borrar al usuario')
                        }
                    }else{
                        alert('La lista fue borrada')
                        changeHome()
                    }
                }
            }
        )
    }

    function addUserList(){
        let listID = document.querySelector('#listID').textContent;
        let proyectID = document.querySelector('#proyectID').textContent;
        let userEmail = document.querySelector('#users').value
        addUserListGO(userEmail, proyectID, listID).then(
            function(resultados){
                let tokenExpire = resultados[2];
                let addOK = resultados[1];
                let listOK = resultados[0];
                if (tokenExpire == "true"){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (listOK){
                        if (addOK){
                            alert('Usuario añadido')
                            changeToListConfig(listID, proyectID)
                        }else{
                            alert('No se añadio el usuario')
                        }
                    }else{
                        alert('La lista fue borrada')
                        changeHome()
                    }
                }
            }
        )
    }

    function updateList(){
        let proyectID = document.querySelector('#proyectID').textContent;
        let listID = document.querySelector('#listID').textContent;
        let listName = document.querySelector('#listName').value;
        let listDescription = document.querySelector('#listDescription').textContent;
        let check = document.querySelector('#listCheck').textContent;
        let usersHTML = document.querySelectorAll('li')
        let users = []
        for (let index = 0; index < usersHTML.length; index++) {
            users.push(usersHTML[index].textContent)
        }
        let list = {
            "ID" : listID,
            "Name" : listName,
            "Description" : listDescription,
            "Users" : users,
            "ProyectID" : proyectID,
            "Check" : check
        }
        updateListGO(list).then(
            function(resultados){
                let tokenExpire = resultados[2];
                let updateStatus = resultados[1];
                let listOK = resultados[0];
                if (tokenExpire == "true"){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (listOK == "True"){
                        if (updateStatus == "Error"){
                            alert('La lista no pudo ser actualizada')
                        }else if (updateStatus == "OK"){
                            alert('La lista fue actualizada')
                        } else{
                            alert('La lista ya fue actualizada previamente por otro usuario')
                            changeToListConfig(listID, proyectID)
                        }
                    }else{
                        alert('La lista fue borrada')
                        changeHome()
                    }
                }
            }
        )
    }


    function changeToListConfig(listID, proyectID){
        changeToListConfigGO(listID, proyectID).then(
            function(resultados){
                let tokenExpire = resultados[1];
                let listOK = resultados[0];
                if (tokenExpire){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (listOK == false){
                        alert('La lista no esta disponible')
                        changeHome()
                    }
                }
            }
        )
    }

    function deleteList(){
        let proyectID = document.querySelector('#proyectID').textContent;
        let listID = document.querySelector('#listID').textContent;
        deleteListGO(listID, proyectID).then(
            function(resultados){
                let tokenExpire = resultados[1];
                let listOK = resultados[0];
                if (tokenExpire){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }else{
                    if (listOK == false){
                        alert('La lista ya fue borrada')
                        changeHome()
                    }else{
                        alert('La lista fue borrada')
                        changeHome()
                    }
                }
            }
        )
    }


    function changeHome(){
        changeHomeGO().then(
            function(tokenExpire){
                if (tokenExpire){
                    alert('El Token de la sesión expiro')
                    exitSesion();
                }
            }
        )
    }

    function init () {
        let forms = document.querySelectorAll('form');
        for (let i = 0; i < forms.length; i++) {
            forms[i].addEventListener('submit',(event) => {event.preventDefault();}, false)
        }
    }

    document.addEventListener('DOMContentLoaded',init,false);
</script>