<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>
<body>
    <button onclick="changeHome()">Volver al Home</button>
    <button onclick="changeToAddTask()">Añadir Tareas a la lista</button>
    <h1 hidden id="listID">{{.ListID}}</h1>
    <h1>Tareas de la lista: {{.ListName}}</h1>
    <h2>Numero de tareas: {{len .Tasks}}</h2>
    {{range .Tasks}}
        <div id="{{.ID}}">
            <h2>Nombre: {{.Name}}</h2>
            <p>Description: {{.Description}}</p>
            <h3>Fecha: {{.Date}}</h3>
            <h3>{{.State}}</h3>
            <h3>Usuarios asignados: </h3>
            {{range .Users}}
                <h4>{{.}}</h4>
            {{end}}

            <div id="archivosAdjuntos">
                <h3>Archivos adjuntos:</h3>
                {{range .Files}}
                    <a href="{{.FileData}}" download="{{.FileName}}">{{.FileName}}</a>
                {{end}}
            </div>

            <button onclick="changeToTaskConfig(event)">Ver Tarea</button>
            <button onclick="DeleteTask(event)">Eliminar Tarea</button>
        </div>
    {{end}}
</body>
</html>

<script>
    function changeToAddTask(){
        let listID = document.querySelector('#listID').textContent
        changeToAddTaskGO(listID).then(
            function(){
            }
        )
    }


    function changeToTaskConfig(event){
        var div = event.target.closest('div');
        taskID = div.id;
        let listID = document.querySelector('#listID').textContent
        changeToTaskConfigGO(taskID, listID).then(
            function(){
            }
        )
    }

    function DeleteTask(event){
        var div = event.target.closest('div');
        taskID = div.id;
        let listID = document.querySelector('#listID').textContent
        deleteTaskGO(taskID).then(
            function(resultado){
                if (resultado){
                    changeToTasksGO(listID)
                }else{
                    alert('No pudo ser borrada la tarea')
                }
            }
        )
    }

    function init () {
        let forms = document.querySelectorAll('form');
        for (let i = 0; i < forms.length; i++) {
            forms[i].addEventListener('submit',(event) => {event.preventDefault();}, false)
        }
    }

    document.addEventListener('DOMContentLoaded',init,false);
</script>